In [43]:
import numpy as np
import pandas as pd
import xarray as xr
import os

In [82]:
file_path="../data/RIDE_DATA_OCT_2016-Bus2-wo-CAN.csv"
df = pd.DataFrame.from_csv(file_path, index_col=None)
df = df[df["Direction"]==0]

In [83]:
df['Ride_start_date'] = df['Ride_start_date'].values.astype('datetime64[D]')
df['Boarding_stop_stn'] = df['Boarding_stop_stn'].astype("str")
df['Alighting_stop_stn'] = df['Alighting_stop_stn'].astype('str')
dates = pd.Series.unique(df["Ride_start_date"])
dates = dates.astype('datetime64[D]')
dates = np.sort(dates)
print(dates)
stops_raw = ["10589","10017","05013","05023","04222","04142","01012","01113","01121","01211","01311","80011","80031","80051","80071","80091","81011","81031","81051","82011","82032","82061","83011","83031","83062","83081","84011","84021","84031","84041","84051","84061","85091","85051","85061","85081","85071","96071","96081","96091","96041","96051","96061","97011","97031","97041","97051","97201","97061","97071","97081","97091","98061","98071","99011","99021","99031","99041","99139","99009"]
stops =[]
for s in stops_raw:
    char_list = list(s)
    while char_list[0] == '0':
        char_list.pop(0)
        
    code_modified = ''.join(char_list)
    stops.append(code_modified)

print(stops)

['2016-10-01' '2016-10-02' '2016-10-03' '2016-10-04' '2016-10-05'
 '2016-10-06' '2016-10-07' '2016-10-08' '2016-10-09' '2016-10-10'
 '2016-10-11' '2016-10-12' '2016-10-13' '2016-10-14' '2016-10-15'
 '2016-10-16' '2016-10-17' '2016-10-18' '2016-10-19' '2016-10-20'
 '2016-10-21' '2016-10-22' '2016-10-23' '2016-10-24' '2016-10-25'
 '2016-10-26' '2016-10-27' '2016-10-28' '2016-10-29' '2016-10-30'
 '2016-10-31']
['10589', '10017', '5013', '5023', '4222', '4142', '1012', '1113', '1121', '1211', '1311', '80011', '80031', '80051', '80071', '80091', '81011', '81031', '81051', '82011', '82032', '82061', '83011', '83031', '83062', '83081', '84011', '84021', '84031', '84041', '84051', '84061', '85091', '85051', '85061', '85081', '85071', '96071', '96081', '96091', '96041', '96051', '96061', '97011', '97031', '97041', '97051', '97201', '97061', '97071', '97081', '97091', '98061', '98071', '99011', '99021', '99031', '99041', '99139', '99009']

In [86]:
# runs = df[(df['Boarding_stop_stn']=="1113") & (df['Ride_start_date']==dates[0])]
runs = df[df['Ride_start_date']==dates[0]]
runs = runs[['Bus_Reg_Num', 'Bus_Trip_Num']].drop_duplicates()
num_runs = runs.shape[0]
print(num_runs)

116

In [90]:
stop_selected = ""
date = dates[0]
for s in stops:
    print(s)
    stop_runs = df[((df['Boarding_stop_stn']==s) | (df['Alighting_stop_stn']==s)) & (df['Ride_start_date']==date)]
    stop_runs = stop_runs[['Bus_Reg_Num', 'Bus_Trip_Num']].drop_duplicates()
    num_stop_runs = stop_runs.shape[0]
    print(num_stop_runs)
    if num_stop_runs == num_runs:
        stop_selected = s
        break
    
print(stop_selected)

10589
24
10017
59
5013
101
5023
66
4222
97
4142
81
1012
90
1113
101
1121
83
1211
92
1311
99
80011
45
80031
98
80051
89
80071
100
80091
102
81011
103
81031
102
81051
97
82011
98
82032
94
82061
108
83011
72
83031
53
83062
104
83081
84
84011
100
84021
106
84031
110
84041
104
84051
109
84061
104
85091
108
85051
51
85061
99
85081
62
85071
76
96071
49
96081
53
96091
80
96041
14
96051
73
96061
82
97011
92
97031
81
97041
81
97051
69
97201
45
97061
34
97071
24
97081
24
97091
27
98061
37
98071
39
99011
8
99021
32
99031
35
99041
63
99139
88
99009
94

In [70]:
print(dates[0])
stop_runs = df[(df['Boarding_stop_stn']=='99009') | df['Aligh'] & (df['Ride_start_date']==dates[0])]
stop_runs

2016-10-01

Empty DataFrame
Columns: [Card_Type, Travel_Mode, Bus_Service_Number, Direction, Bus_Trip_Num, Bus_Reg_Num, Boarding_stop_stn, Alighting_stop_stn, Ride_start_date, Ride_start_time, Ride_end_date, Ride_end_time]
Index: []

In [75]:
print(dates[0])
df['Ride_start_date']==dates[0]

2016-10-01

931       False
950       False
987       False
1007      False
1049      False
1067      False
1106      False
1122      False
1167      False
1169      False
1228      False
1230      False
1293      False
1305       True
1339      False
1368      False
1405      False
1423      False
1436      False
1473      False
1487      False
1491      False
1554      False
1559      False
1565      False
1605      False
1624      False
1629      False
1635      False
1672       True
          ...
843429    False
843430    False
843431    False
843432    False
843434    False
843435    False
843436    False
843437    False
843438    False
843439    False
843440    False
843441    False
843442    False
843443    False
843444    False
843445    False
843446    False
843447    False
843448    False
843449    False
843452    False
843453    False
843454    False
843455    False
843456    False
843457    False
843458    False
843459    False
843460    False
843461    False
Name: Ride_start_date, Length: 434625, dtype: bool

In [78]:
df

,Card_Type,Travel_Mode,Bus_Service_Number,Direction,Bus_Trip_Num,Bus_Reg_Num,Boarding_stop_stn,Alighting_stop_stn,Ride_start_date,Ride_start_time,Ride_end_date,Ride_end_time
931,Senior Citizen,Bus,2,0,12,15,82061,85061,2016-10-28,22:17:58,2016-10-28,22:41:59
950,Adult,Bus,2,0,1,3438,82061,96091,2016-10-19,07:12:46,2016-10-19,07:46:53
987,Adult,Bus,2,0,4,15,82061,85061,2016-10-28,11:07:16,2016-10-28,11:25:58
1007,Adult,Bus,2,0,1,3451,82061,85061,2016-10-13,06:18:07,2016-10-13,06:35:17
1049,Adult,Bus,2,0,9,3488,96091,97201,2016-10-29,21:57:54,2016-10-29,22:06:02
1067,Adult,Bus,2,0,5,5092,85061,96091,2016-10-06,14:17:42,2016-10-06,14:22:44
1106,Adult,Bus,2,0,9,5115,4222,82061,2016-10-10,15:55:47,2016-10-10,16:25:42
1122,Adult,Bus,2,0,7,3505,85061,96091,2016-10-07,18:42:48,2016-10-07,18:49:46
1167,Senior Citizen,Bus,2,0,5,3490,4222,82061,2016-10-09,14:22:31,2016-10-09,14:51:39
1169,Adult,Bus,2,0,9,3514,82061,85061,2016-10-14,21:19:27,2016-10-14,21:41:48
1228,Senior Citizen,Bus,2,0,9,3493,96091,97061,2016-10-07,23:16:01,2016-10-07,23:32:16
1230,Adult,Bus,2,0,6,3306,4222,82061,2016-10-26,22:16:59,2016-10-26,22:46:29
1293,Adult,Bus,2,0,1,5112,85061,96091,2016-10-10,06:13:00,2016-10-10,06:20:49
1305,Adult,Bus,2,0,3,16,85061,96091,2016-10-01,10:17:09,2016-10-01,10:23:27
1339,Adult,Bus,2,0,1,3498,85061,96091,2016-10-24,06:55:51,2016-10-24,07:01:48
1368,Adult,Bus,2,0,6,5112,4222,82061,2016-10-16,16:28:24,2016-10-16,17:00:13
1405,Adult,Bus,2,0,7,20,85061,96091,2016-10-03,21:41:23,2016-10-03,21:49:38
1423,Senior Citizen,Bus,2,0,1,5092,82061,85061,2016-10-09,07:15:21,2016-10-09,07:33:52
1436,Adult,Bus,2,0,7,5142,4222,82061,2016-10-25,17:34:24,2016-10-25,18:07:07
1473,Adult,Bus,2,0,1,5075,96091,97061,2016-10-04,07:51:15,2016-10-04,08:08:41
1487,Student,Bus,2,0,9,3497,85061,96091,2016-10-24,21:06:48,2016-10-24,21:11:15
1491,Adult,Bus,2,0,7,3429,82061,85061,2016-10-27,17:16:41,2016-10-27,17:42:16
1554,Senior Citizen,Bus,2,0,3,3463,85061,96091,2016-10-11,09:42:51,2016-10-11,09:50:24
1559,Adult,Bus,2,0,5,5071,4222,82061,2016-10-25,17:23:38,2016-10-25,17:56:44
1565,Adult,Bus,2,0,5,3502,85061,96091,2016-10-30,13:17:40,2016-10-30,13:24:47
1605,Adult,Bus,2,0,7,20,85061,96091,2016-10-03,21:41:21,2016-10-03,21:49:37
1624,Adult,Bus,2,0,2,3314,4222,82061,2016-10-07,10:19:44,2016-10-07,10:48:39
1629,Adult,Bus,2,0,8,3440,97061,97071,2016-10-17,17:34:41,2016-10-17,17:35:38
1635,Adult,Bus,2,0,7,5054,4222,97201,2016-10-31,20:44:48,2016-10-31,21:50:36
1672,Adult,Bus,2,0,3,16,85061,96091,2016-10-01,10:17:11,2016-10-01,10:23:33
...,...,...,...,...,...,...,...,...,...,...,...,...
843429,Adult,Bus,2,0,4,3300,1311,82032,2016-10-12,13:33:55,2016-10-12,13:47:38
843430,Adult,Bus,2,0,2,5075,85091,99021,2016-10-12,09:06:10,2016-10-12,09:37:29
843431,Senior Citizen,Bus,2,0,4,3444,85091,99021,2016-10-05,10:42:11,2016-10-05,11:08:33
843432,Adult,Bus,2,0,6,3985,1311,82032,2016-10-29,16:42:52,2016-10-29,16:56:45
843434,Adult,Bus,2,0,3,10,1311,83081,2016-10-18,08:06:39,2016-10-18,08:30:00
843435,Adult,Bus,2,0,1,5093,1311,83081,2016-10-12,06:27:41,2016-10-12,06:48:21
843436,Adult,Bus,2,0,8,3460,1311,80071,2016-10-19,20:44:37,2016-10-19,20:51:46
843437,Child,Bus,2,0,6,5072,1311,80091,2016-10-18,14:47:36,2016-10-18,14:55:11
843438,Adult,Bus,2,0,8,3417,1311,98071,2016-10-24,17:21:32,2016-10-24,18:32:16
843439,Adult,Bus,2,0,3,3310,80051,80071,2016-10-23,11:33:37,2016-10-23,11:35:49
843440,Adult,Bus,2,0,9,3313,1012,80071,2016-10-14,18:08:48,2016-10-14,18:26:43
843441,Adult,Bus,2,0,8,5095,1311,80091,2016-10-14,17:38:45,2016-10-14,17:47:57
843442,Adult,Bus,2,0,4,5116,83011,98061,2016-10-12,19:16:42,2016-10-12,20:02:04
843443,Adult,Bus,2,0,4,5,1012,80091,2016-10-11,09:23:40,2016-10-11,09:40:02
843444,Senior Citizen,Bus,2,0,6,3462,1311,80071,2016-10-11,14:07:44,2016-10-11,14:13:54
843445,Adult,Bus,2,0,1,5090,1311,80071,2016-10-07,06:29:00,2016-10-07,06:35:44
843446,Adult,Bus,2,0,10,5107,1311,80091,2016-10-04,00:03:35,2016-10-04,00:11:15
843447,Adult,Bus,2,0,2,3457,1311,80091,2016-10-02,18:33:42,2016-10-02,18:42:25
843448,Adult,Bus,2,0,6,3477,1012,80091,2016-10-28,20:00:26,2016-10-28,20:23:29
843449,Adult,Bus,2,0,9,3491,85091,98061,2016-10-31,22:47:09,2016-10-31,23:13:26
843452,Adult,Bus,2,0,2,5056,85081,97091,2016-10-18,07:47:39,2016-10-18,08:14:13
843453,Student,Bus,2,0,5,3314,85091,85081,2016-10-18,13:20:29,2016-10-18,13:22:47
843454,Adult,Bus,2,0,9,3314,1012,83011,2016-10-18,20:16:07,2016-10-18,20:44:54
843455,Child,Bus,2,0,6,3304,1311,85081,2016-10-12,14:25:35,2016-10-12,15:02:39
843456,Adult,Bus,2,0,1,5076,80051,97091,2016-10-14,05:42:50,2016-10-14,06:30:39
843457,Senior Citizen,Bus,2,0,4,5115,1012,80051,2016-10-15,14:43:58,2016-10-15,14:57:44
843458,Adult,Bus,2,0,2,3442,80051,85081,2016-10-12,07:08:39,2016-10-12,07:45:32
843459,Adult,Bus,2,0,4,3446,85091,85081,2016-10-09,12:28:49,2016-10-09,12:32:40
843460,Adult,Bus,2,0,2,3502,85091,97081,2016-10-31,07:51:13,2016-10-31,08:18:08
843461,Adult,Bus,2,0,3,5075,1012,1311,2016-10-30,15:28:32,2016-10-30,15:37:35